.mobile-overlay { display:none; position:fixed; background:rgba(0, 0, 0, 0.5) !important; z-index:2000; }

@media screen and (max-width: 990px) {

  /* HEADER */
  .main-menu-toggle { display: inline-block; }

  .header-menu { margin-right:15px !important; margin-left:auto !important; }
  .header-menu .main-menu { 
    display:none;
    width:350px; 
    height:100%;
    overflow-y:auto;
    z-index:2001;
    background:white;
    float:none; 
    position:fixed; 
    left:0; 
    top:0;
    white-space:normal; 
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .header-menu .main-menu-close {
    font-size:23px;
    display:block;
    width:100%;
    height:50px;
    color:#adb8c1;
    padding:8px 20px 0px 0px;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    text-align:right;
    cursor:pointer;
  }

  .header-menu .main-menu li { width:100%; }
  .header-menu .main-menu > li > a,
  .header-transparent .header-menu .main-menu > li > a { color:#838893; padding:20px 20px !important; margin:0; border-bottom:1px solid rgba(0, 0, 0, 0.1); }
  .header-menu .main-menu li:last-child a { border-bottom:none; }
  .header-menu .main-menu li.current-menu-item > a { box-shadow:none; }
  .header-menu .main-menu li.menu-item-has-children:after { margin-top:22px; right:25px; }
  .header-menu .main-menu li .sub-menu li.menu-item-has-children:after { content: "\f107"; }

  .header-default .header-search { width:170px; }
  .header-default .header-item { padding:0px 10px; }
  .header-default .header-item .header-item-text {
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .header-default .header-item span { font-size:15px; }

  .sub-menu { width:100%; margin:0; border-radius:0; position:relative;  }
  .header-menu .main-menu li .sub-menu li a { padding-left:20px; }

  /** SUBHEADER **/
  .subheader.subheader-slider .slider-advanced .slide-price { margin-left:7%; }
  .subheader.subheader-slider .slider-advanced .slide-content { margin-left:7%; width:60%; }

  /** SIDEBAR **/
  .sidebar, .sidebar-left { padding-left:15px; padding-right:15px; }

  /** FOOTER **/
  .widget-footer { margin-bottom:50px; }
  footer h4 { margin-bottom:20px; }

}

@media screen and (max-width: 782px) {
    /* WP ADMIN BAR */
    .admin-bar header.header-classic.navbar-fixed, 
    .admin-bar header.header-transparent.navbar-fixed,
    .admin-bar .header-menu .main-menu, 
    .admin-bar .header-menu.fixed { top:46px; }

    /** HEADER DEFAULT **/
  .header-default .header-item .header-item-text, .header-default .header-item .header-search-form { 
    display:none; 
    position:absolute;
    z-index:1500;
    width:100%;
    max-width: 100%;
    left:0;
    background:white;
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding:15px;
    top:69px;
  }
  .header-default .header-item .header-item-icon { float:none; text-align:center; width:100%; }
  .header-default .header-item .header-item-icon > .fa { display:inline-block !important; margin:0; }
  .header-default .header-search { border-right:1px solid rgba(0, 0, 0, 0.1); width:auto; }
  .header-default .header-item:hover .header-item-text, .header-default .header-item:hover .header-search-form { display:block; }
}

@media only screen and (max-width: 767px) {
  
  /** SUBHEADER **/
  .subheader.simple-search { padding:70px 0px 100px 0px; }
  .subheader.simple-search .simple-search-form { width:100%; }
  .subheader.simple-search .ui-tabs-nav li { font-size:11px; width:90px; }

  .subheader.subheader-slider .slide { padding:150px 0px 150px 0px; }
  .subheader.subheader-slider h1 { font-size:40px; }

  .subheader.subheader-slider .slider-advanced .slide-price { margin-left:5%; }
  .subheader.subheader-slider .slider-advanced .slide-content { margin-left:5%; width:90%; }

}

@media only screen and (max-width: 589px) {
  /** HEADER **/
  .header-logo { min-width:150px; }

  .top-bar-left, .top-bar-right { 
    float:none;
    width:100%;
    text-align:center;
  }

  .top-bar-left { border-bottom:1px solid rgba(0, 0, 0, 0.1); }
  .top-bar-left .top-bar-item:last-child { border:none; }
  .top-bar-item {
    float:none;
    display:inline-block;
  }

  .top-bar-right .top-bar-item:last-child { border:none; }

  /* SUBHEADER */
  .subheader.subheader-slider .slide.slide-left .slide-content,
  .subheader.subheader-slider .slide.slide-right .slide-content { width:75%; }
  .subheader.subheader-slider h1 { font-size:35px; }
  .subheader.subheader-slider p { font-size:21px; }

  .subheader.subheader-slider .slider-simple-buttons .button { width:70%; }
  .subheader.subheader-slider .slider-simple-buttons .button:last-child { margin-left:0px; margin-top:15px; }

  .subheader.subheader-slider .slider-advanced .slide table { font-size:9px; }
  .subheader.subheader-slider .slider-advanced .slide .button.small { float:none; margin-top:10px; margin-bottom:10px; }

  /** BLOG **/
  .blog-post-details { padding-top:0; }
  .blog-post-details > li { display:block; margin-left:0 !important; padding:4px 0px; }

  /** TESITMONIALS **/
  .testimonials h3 { font-size:20px; }
   
   /** CONTACT **/
   .contact-item { width:48%; margin-bottom:20px; }
   .contact-item:nth-child(even) { margin-right:0; }

}

@media only screen and (max-width: 480px) {
  
  /** CONTACT **/
   .contact-item { width:100%; margin-right:0 }

}