/**********************************************/
/** THEME OPTIONS **/
/**********************************************/
.ns-theme-options { width:99%; }

/** THEME OPTIONS HEADER **/
.ns-theme-options .theme-options-header { 
    background:white; 
    width:99%; 
    font-size:20px; 
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.1); 
    position:relative; 
}

.ns-theme-options .theme-options-logo {
    background:white;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    color:white;
    padding:20px 0px 20px 0px;
    width:16%;
    text-align:center;
    line-height:1.3;
}
.ns-theme-options .theme-options-logo img { max-width:90%; }

.ns-theme-options .created-by { font-size:13px; margin-left:18px; margin-top:20px; float:left; }
.ns-theme-options .created-by a { text-decoration:none; }

.ns-theme-options .theme-options-actions { float:right; margin-right:20px; }

.ns-theme-options .theme-options-header .submit { margin:0; padding:0; float:none; }
.ns-theme-options .submit .button { 
    border:none; 
    border-bottom:3px solid #4c4ace;
    background:#5c59ed;
    box-shadow:none; 
    border-radius:4px;
    padding:15px 35px;
    height:auto;
    font-size:16px;
    font-weight:600;
    text-shadow:none;
    transition:all 0.4s;
}
.ns-theme-options .submit .button:hover { background:#817ff0;}

.ns-theme-options .theme-options-header .loader { margin-top:15px; float:left; }
.ns-theme-options .theme-options-header .save-result { float:left; margin-top:0; }
.ns-theme-options .theme-options-header .reset-theme-options { 
    height:auto; 
    margin-right:6px; 
    padding:15px 25px; 
}

.ns-theme-options .theme-options-footer { background:transparent; margin-top:15px; box-shadow:none; }
.ns-theme-options .theme-options-footer .theme-options-actions { margin-right:0; }

/** THEME OPTIONS CONTENT **/
.ns-theme-options .theme-options-content {
    width:99%; 
    background:white;
}

/** main menu **/
.ns-theme-options .theme-options-nav-container { width:16%; background: #273039; }
.ns-theme-options .theme-options-tab-container { padding:30px; }
.ns-theme-options .ns-tabs .ns-tabs-nav li.active a { color:white; background:#5c59ed; margin-right:0; }

/** content **/
.ns-theme-options label.contact-form-source-label { margin-right:20px; }

.ns-theme-options .admin-module-listing-header { width:180px; }

.ns-theme-options .tab-content h2 { font-size:1.6em; margin-top:0; margin-bottom:45px; }
.ns-theme-options .tab-content h3 { font-size:1.4em; margin-top:20px; margin-bottom:20px; }

.ns-theme-options .submit { display:inline-block; margin-right:1%; margin-top:10px; float:right; }

.save-result {
    display: none;
    width: 300px;
    padding: 19px;
    background-color: #d7ecc7;
    margin-top:20px;
    margin-right:10px;
    font-size:14px;
    float:right;
}

.option-preview { 
    width:250px; 
    border:1px solid rgba(0, 0, 0, 0.08); 
    padding:10px; 
    margin-top:5px;
    background:rgba(0, 0, 0, 0.03);
}
.option-preview img { max-width:100%; height:auto; }
.favicon-preview { width:20px; }

.ns-theme-options .reset-fonts { display:block; margin-top:10px; }

.ns-theme-options .top-bar-custom { margin-top:10px; }
.ns-theme-options .top-bar-custom label { display:block; font-weight:600; }

/**********************************************/
/** RESPONSIVE **/
/**********************************************/
@media only screen and (max-width: 550px) {
    .ns-theme-options .theme-options-header td { display:block; }
    .ns-theme-options .theme-options-logo { width:100%; text-align:center;  }
    .ns-theme-options .theme-options-logo img { float:none; } 
    .ns-theme-options .theme-options-actions, .ns-theme-options .created-by { 
        padding:0; 
        margin:0; 
        width:100%; 
        color:rgba(0, 0, 0, 0.5);
        text-align:center;
    }
    .ns-theme-options .created-by a { padding-bottom:5px; color:rgba(0, 0, 0, 0.5); }
    .ns-theme-options .theme-options-actions { padding-bottom:20px; }

    .ns-theme-options .theme-options-header .submit { margin-top:15px; }

    .ns-theme-options .ns-tabs .ns-tabs-nav li a { text-align:center; font-size:18px; padding:25% 5%;  }
    .ns-theme-options .ns-tabs-nav li a span.ns-tab-text { display:none; }

}