/****************************************************/
/** GLOBAL **/
/** Shared styles between NightLight and NS Basics **/
/****************************************************/

.left { float:left; }
.right { float:right; }
.clear { clear:both; }

.hide { display:none !important; }
.hide-soft { display:none; }
.show { display:block; }

.right-bump { margin-right:25px; }
.left-bump { margin-left:25px; }

.no-padding, .admin-module.no-padding { padding:0; }
.no-padding-top, .admin-module.no-padding-top { padding-top:0; }
.no-padding-bottom, .admin-module.no-padding-bottom { padding-bottom:0; }

.sidebar-icon { float:left; width:55px; }

.admin-module {  
    width:100%; 
    padding:20px 0px;
    border-bottom:1px solid rgba(0, 0, 0, 0.08);
}
.admin-module.no-border, .admin-module:last-child { border:none; }

.admin-module-bg {
    background:#f8f8f8;
    border-radius:5px;
    padding:20px;
    border:1px solid #eeeeee;
}
.admin-module-bg h3 { padding-top:0; margin-top:0; }

.admin-module.two-col .admin-module { width:48%; float:left; border:none; margin:0; padding:0; }
.admin-module.two-col .admin-module:first-child { margin-right:2%; }

.two-col-list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.three-col-list {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

@media only screen and (max-width: 750px) {
    .two-col-list, .three-col-list { 
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
    }
}

.admin-module-label { width:25%; font-size:13px; font-weight:700; padding-right:3%; vertical-align:top; }
.admin-module-label label { margin-bottom:0; }
.admin-module-field { width:75%; }
.admin-module-field p { margin:6px 0px; }

.admin-module input,
.admin-module select,
.admin-module textarea,
.admin-module .chosen-container .chosen-single {
    box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
    background: #ecf1f5;
    border: none;
    padding: 10px;
    height: auto;
    width:70%;
    min-width: 200px;
    border-radius: 4px;
}

.admin-module .chosen-container-single { width:auto !important; min-width:250px; }
.admin-module .chosen-container-single .chosen-single { width:100%; }
.admin-module .chosen-container-single .chosen-single div { margin-top:10px; }
.admin-module .chosen-container-active.chosen-with-drop .chosen-single { background:white; border-radius:4px 4px 0px 0px; border:1px solid rgba(0, 0, 0, 0.25); }
.admin-module .chosen-container-active.chosen-with-drop .chosen-single div b { background-position:-16px 2px; }
.admin-module .chosen-container .chosen-results li.highlighted { background:#5c59ed; border-radius:2px; }

.admin-module textarea { height:120px; }

.admin-module input[type="checkbox"],
.admin-module input[type="radio"] { 
    min-width: 20px;
    min-height: 20px;
    height: auto;
    width: auto;
}
.admin-module input[type=checkbox]:checked:before { margin-top: 0px; margin-left:-2px; }
.admin-module input[type="radio"] { border-radius:100%; }
.admin-module input[type=radio]:checked:before { width:10px; height:10px;  margin:6px;}

.admin-module input[type="button"], .admin-button, .wp-core-ui .button.admin-button {
    border:none;
    box-shadow:none;
    background:none;
    background:#5c59ed;
    color:white;
    border-radius:4px;
    padding: 11px 10px;
    cursor:pointer;
    display:inline-block;
    min-width:0;
    width:auto;
    height:auto;
    line-height:normal;
    font-weight:600;
    font-size:13px;
    vertical-align: top;
    transition:all 0.4s;
}
.admin-module input[type="button"]:hover, 
.admin-button:hover {
    background:#817ff0;
}

.admin-button.green, .wp-core-ui .button.admin-button.green { background:#27d7a3; }

.admin-module .button-secondary { padding:10px; height:auto; line-height:normal; font-size:13px; }

.admin-module-note { display:block; font-weight:400; margin-top:5px; font-size:12px; color:#a8a8a8; font-style:italic; }

.column-thumbnail img { max-width:100%; height:auto; }

.loader { margin-right:10px; margin-top:38px; float:right; display:none; }

/** TABLES **/
.admin-table { width:100%; text-align:left; }
.admin-table th { background:#4c5a67; padding:8px 8px; color:white; }
.admin-table th:first-child { border-radius:5px 0px 0px 0px; }
.admin-table th:last-child { border-radius:0px 5px 0px 0px; }
.admin-table td { padding:5px 8px; }
.admin-table tr:nth-child(even) { background:#e7eff4; }

/** ALERT BOX **/
.admin-alert-box {
    background:#d7ecc7;
    color:#709058;
    border-left:3px solid #709058;
    padding:13px 20px;
    border-radius:0px 4px 4px 0px;
    margin-top:-1px;
    position:relative;
    z-index:1;
}

.admin-alert-box.admin-error {
    background:#edc5c5;
    color:#a54c4c;
    border-color:#a54c4c;
}

.admin-alert-box.admin-info {
    background:#c2d9eb;
    color:#4f7da1;
    border-color:#4f7da1;
}

.admin-alert-box.admin-warning {
    background:#f9e8bf;
    color:#c49e44;
    border-color:#c49e44;
}

.admin-alert-close { cursor:pointer; margin-top:2px; }

.admin-alert-box.settings-saved { display:none; }

/** TABS **/
.ns-tabs .ns-tabs-nav { margin:0; position:relative; z-index:10; }
.ns-tabs .ns-tabs-nav li { margin:0; position:relative;  }
.ns-tabs .ns-tabs-nav li a {
    padding:17px 10px 17px 11%;
    display:block;
    border-bottom:1px solid rgba(0, 0, 0, 0.08);
    text-decoration:none;
    color:#788a94;
}
.ns-tabs .ns-tabs-nav li a:focus { box-shadow:none; }
.ns-tabs .ns-tabs-nav li.active a { color:#5c59ed; background:white; font-weight:700; margin-right:-2px; }
.ns-tabs .ns-tabs-nav li a .fa,
.ns-tabs .ns-tabs-nav li a .fas { margin-right:7px; }

.ns-tabs .tab-content { display:none; }
.ns-tabs .tab-content.active { display:block; }

/** ACCORDIONS **/
.ns-accordion { margin:10px 0px; }
.ns-accordion-header {
    position:relative;
    background: #e7eff4;
    border-radius:5px;
    cursor:pointer;
    height:60px;
    line-height:60px;
    font-size:14px;
    font-weight:600;
    color:#51636c;
    margin:0;
    padding:0px 0px 0px 70px;
    transition:all 0.4s;
}
.ns-accordion-header > .fa {
    position:absolute;
    left:0;
    top:0; 
    background:#d1dce2; 
    border-radius:5px 0px 0px 5px;
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    display:inline-block;
    padding:0px;
    margin:0px;
    transition:all 0.4s;
}
.ns-accordion-header .action { float:right; padding:0px 15px; }
.ns-accordion-header .action:hover { background:rgba(0, 0, 0, 0.1); transition:all 0.4s; }
.ns-accordion-header .admin-button.green { margin-left:10px; padding:7px 10px; margin-top:15px; } 
.ns-accordion.active .ns-accordion-header { background:#5c59ed; color:white; border-radius:5px 5px 0px 0px; }
.ns-accordion.active .ns-accordion-header > .fa { background:rgba(0, 0, 0, 0.15); }
.ns-accordion-content { 
    display:none; 
    border: 1px solid #d6d6d6;
    border-top:none;
    padding:25px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1);
}

/** TOGGLE SWITCH **/
.toggle-switch {
    position: relative; 
    width: 60px;
    display:inline-block;
    float:left;
    margin-right:9px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
input[type=checkbox].toggle-switch-checkbox { display: none; }
.admin-module label.toggle-switch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #E3E3E3; border-radius: 13px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.toggle-switch-label:before {
    content: "";
    display: block; width: 20px; height:20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #E3E3E3; border-radius: 13px;
    transition: all 0.3s ease-in 0s; 
}
.toggle-switch-checkbox:checked + .toggle-switch-label { background-color: #27d7a3; }
.toggle-switch-checkbox:checked + .toggle-switch-label, .toggle-switch-checkbox:checked + .toggle-switch-label:before { border-color: #27d7a3; }
.toggle-switch-checkbox:checked + .toggle-switch-label:before { right: 0px; }

.toggle-switch-label span {
    display: inline-block;
    position: absolute;
    left: 30px;
    font-size: 11px;
    color:#9593a9;
    font-weight:600;
}
.toggle-switch-label span.on { color:white; left:17px; }

/** SELECTABLE ITEMS **/
.selectable-item {
    border:1px solid #cdd8da;
    border-radius:3px;
    padding:20px 10px;
    width:21%;
    min-height:115px;
    display:inline-block;
    text-align:center;
    margin-right:1%;
    margin-top:10px;
}
.selectable-item.active, .home-source-item.active { border:1px solid #23a5e1; }
.selectable-item:nth-child(4n) { margin-right:0; }
.selectable-item img, .home-source-item img { margin-bottom:5px; max-width:100%; }

.admin-module-header-style .selectable-item { width:29.9%; min-height:100px; }
.admin-module-header-style .selectable-item:last-child { margin-right:0; }

.selectable-item-settings h4 { font-size:15px; }

/** MAPS **/
#map-canvas-one-pin { max-width:100%; height:250px; }
#latitude-input, #longitude-input { width:100%; }
.remove-pin { margin-top: 22px; }
#pac-input { 
    margin-top:10px; 
    padding:9px; 
    background:white;
    box-shadow:none;
    width:80%;
    border:1px solid rgba(0, 0, 0, 0.1); 
}

.admin-module-company-location .admin-module { float:left; width:40%; padding-top:0; }
.admin-module-company-location .admin-module:first-child { margin-right:2%; }
.admin-module-company-location .admin-module td { vertical-align:middle; }
.admin-module-company-location .admin-module input { width:100%; min-width:auto; }
.admin-module-company-location .remove-pin { margin-top:0; }

#side-sortables .remove-pin { margin:5px 0px; display:block; width:100%; }
#side-sortables .admin-module.admin-module-coordinates { width:100%; }
/**********************************************/
/** END GLOBAL **/
/**********************************************/


/**********************************************/
/** THEME OPTIONS **/
/**********************************************/
.ns-theme-options { width:99%; }

/** THEME OPTIONS HEADER **/
.ns-theme-options .theme-options-header { 
    background:white; 
    width:99%; 
    font-size:20px; 
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.1); 
    position:relative; 
}

.ns-theme-options .theme-options-logo {
    background:white;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    color:white;
    padding:20px 0px 20px 0px;
    width:16%;
    text-align:center;
    line-height:1.3;
}
.ns-theme-options .theme-options-logo img { max-width:90%; }

.ns-theme-options .created-by { font-size:14px; margin-left:18px; margin-top:18px; float:left; }
.ns-theme-options .created-by a { text-decoration:none; }

.ns-theme-options .theme-version { float:right; margin-right:20px; }

.ns-theme-options .theme-options-header .submit { margin:0; padding:0; float:none; }
.ns-theme-options .submit .button { 
    border:none; 
    border-bottom:3px solid #4c4ace;
    background:#5c59ed;
    box-shadow:none; 
    border-radius:4px;
    padding:15px 45px;
    height:auto;
    font-size:16px;
    font-weight:600;
    text-shadow:none;
    transition:all 0.4s;
}
.ns-theme-options .submit .button:hover { background:#817ff0;}

.ns-theme-options .theme-options-header .loader { margin-top:15px; float:left; }
.ns-theme-options .theme-options-header .save-result { float:left; margin-top:0; }

/** THEME OPTIONS CONTENT **/
.ns-theme-options .theme-options-content {
    width:99%; 
    background:white;
}

/** main menu **/
.ns-theme-options .theme-options-nav-container { width:16%; background: #273039; }
.ns-theme-options .theme-options-tab-container { padding:30px; }
.ns-theme-options .ns-tabs .ns-tabs-nav li.active a { color:white; background:#5c59ed; margin-right:0; }

/** content **/
.ns-theme-options label.contact-form-source-label { margin-right:20px; }

.ns-theme-options .admin-module-listing-header { width:180px; }

.ns-theme-options .tab-content h2 { font-size:1.6em; margin-top:0; margin-bottom:45px; }
.ns-theme-options .tab-content h3 { font-size:1.4em; margin-top:20px; margin-bottom:20px; }

.ns-theme-options .submit { display:inline-block; margin-right:1%; margin-top:10px; float:right; }

.save-result {
    display: none;
    width: 300px;
    padding: 19px;
    background-color: #d7ecc7;
    margin-top:20px;
    margin-right:10px;
    font-size:14px;
    float:right;
}

.option-preview { 
    width:250px; 
    border:1px solid rgba(0, 0, 0, 0.08); 
    padding:10px; 
    margin-top:5px;
    background:rgba(0, 0, 0, 0.03);
}
.option-preview img { max-width:100%; height:auto; }
.favicon-preview { width:20px; }

.ns-theme-options .reset-fonts { display:block; margin-top:10px; }

.ns-theme-options .top-bar-custom { margin-top:10px; }
.ns-theme-options .top-bar-custom label { display:block; font-weight:600; }

/**********************************************/
/** RESPONSIVE **/
/**********************************************/
@media only screen and (max-width: 550px) {
    .ns-theme-options .theme-options-header td { display:block; }
    .ns-theme-options .theme-options-logo { width:100%; text-align:center;  }
    .ns-theme-options .theme-options-logo img { float:none; } 
    .ns-theme-options .theme-version, .ns-theme-options .created-by { 
        padding:0; 
        margin:0; 
        width:100%; 
        color:rgba(0, 0, 0, 0.5);
        text-align:center;
    }
    .ns-theme-options .created-by a { padding-bottom:5px; color:rgba(0, 0, 0, 0.5); }
    .ns-theme-options .theme-version { padding-bottom:20px; }

    .ns-theme-options .theme-options-header .submit { margin-top:15px; }

    .ns-theme-options .ns-tabs .ns-tabs-nav li a { text-align:center; font-size:18px; padding:25% 5%;  }
    .ns-theme-options .ns-tabs-nav li a span.ns-tab-text { display:none; }

    .admin-module-label { margin-bottom:10px; }
    .admin-module-label, .admin-module-field { width:100%; display:block; padding-right:0; }

    .admin-module input,
    .admin-module select,
    .admin-module textarea,
    .admin-module .chosen-container,
    .admin-module .chosen-container .chosen-single { width:100%; }

    .selectable-item,
    .admin-module-header-style .selectable-item { width:100%; display:block; }

    .ns_upload_image_button,
    .button-secondary.remove { margin-top:5px; }

}